*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content:"";
    display:block;
    clear: both;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: black;
    color: #b7b7b7;
    margin: 0;
    
}
.topNavBar{
    padding-left: 17px;
    margin: 10px 0 7px 0;
    background-image: url(./img/bgimg.jpg) ;
    height: 515px;
    
}
.bgi{
    /* background-image: url(./igm/bgimg.jpg); */
    height: 515px;

}
.topNavBar>nav>ul{
    margin: 0;
}
.topNavBar>nav>ul>li{
    list-style: none;
    float: left;
    /* margin: 7px 0; */
    /* border: 1px white solid; */
    padding:10px 0 4px 0;
}

.topNavBar>nav>ul>li>a{
    display: block;
    font-size: 12px;
    font-weight: bold;
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    padding-bottom: 4.5px;
    
    border-top: solid 3px transparent;
    border-bottom: solid 3px transparent;
}
.topNavBar>nav>ul>li>a:hover{
    border-bottom: orange solid 3px;
}
.topNavBar .logo{
    font-size: 24px;
    font-family: "Arial Rounded MD Bold";
    margin: 4px 0 4px 0;
    font-weight: bold;
    
}
.topNavBar .logo .rs{
    color: orange;
    margin-right: 4px;
}
